#root {
  max-width: 100%;
  margin: 0 auto;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #f1f1f1;
}

@media print {
  body * {
    visibility: hidden;
  }

  #print-wrapper, #print-wrapper * {
    visibility: visible;
  }

  #print-wrapper {
    transform: scale(0.80);
    transform-origin: top left;
    width: 125%;
    height: auto;
    overflow: hidden;
    display: inline-block;
  }

  #print-wrapper, #ticket {
    page-break-after: avoid;
    page-break-before: avoid;
    page-break-inside: avoid;
  }

  .no-print {
    display: none !important;
  }
}

.card {
  transition: all 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 24px rgba(0,0,0,0.12);
}